<div class="m-1 border-2 border-dark rounded-1">
  <h2>Dashboard</h2>

  <label [for]="'field_auswahl'"><b>Rollen-Auswahl:</b></label>&nbsp;
  <select [(ngModel)]="role" id="field_auswahl">
    @for (item of availableOptions; track item){
      @if (item === Rollen.INITIAL) {
        <option [ngValue]="item" disabled>{{item}}</option>
      } @else {
        <option [ngValue]="item">{{item}}</option>
      }
    }
  </select>
  <hr>
  <mat-divider></mat-divider>
  @switch (role) {
    @case (Rollen.ENTWICKLUNG) {
      <div class="row">
        <label class="col-3" [for]="'field_cucumba'">JMeter-Übersicht:</label>
        <div class="col-3" [id]="'field_cucumba'">
          <a href="https://github.com/SpiritTesting/workshop-pipeline/actions" target="_blank">Test runs</a>
        </div>
        <hr>
        <label class="col-3" [for]="'field_cucumba'">Cucumba-Übersicht:</label>
        <div class="col-3" [id]="'field_cucumba'">
          <a href="https://studio.cucumber.io/projects/469067/test-runs" target="_blank">Test runs</a>
        </div>
        <hr>
        <label class="col-3" [for]="'field_sonarqube'">SonarQube:</label>
        <a class="col-3" target="_blank" href="https://sonarcloud.io/summary/overall?id=SpiritTesting_workshop-pipeline">
      <img[id]="'field_sonarqube'"
             src="https://sonarcloud.io/api/project_badges/measure?project=SpiritTesting_workshop-pipeline&metric=alert_status"></a>
      </div>
    }
    @case (Rollen.TEST_MANAGER) {
      <div class="row">
        <label class="col-3" [for]="'field_cucumba'">Cucumba-Übersicht:</label>
        <div class="col-3" [id]="'field_cucumba'">
          <a href="https://studio.cucumber.io/projects/469067/test-runs" target="_blank">Test runs</a>
        </div>
        <hr>
        <label class="col-3" [for]="'field_sonarqube'">SonarQube:</label>
        <a class="col-3" target="_blank" href="https://sonarcloud.io/summary/overall?id=SpiritTesting_workshop-pipeline">
      <img[id]="'field_sonarqube'" style="height: 50px!important;"
             src="https://sonarcloud.io/api/project_badges/quality_gate?project=SpiritTesting_workshop-pipeline"></a>
      </div>
    }
    @case (Rollen.PRODUCT_OWNER) {
      <div class="row">
        <label class="col-3" [for]="'field_sonarqube'">SonarQube:</label>
        <a class="col-3" target="_blank" href="https://sonarcloud.io/summary/overall?id=SpiritTesting_workshop-pipeline">
        <img[id]="'field_sonarqube'"
            style="height: 50px!important;" src="https://sonarcloud.io/images/project_badges/sonarcloud-light.svg">
      </a>
      </div>
    }
  }
</div>
