<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      @if (settingsForm.value.login) {
        <h2>
          Einstellungen für Benutzer [<strong>{{ settingsForm.value.login }}</strong
          >]
        </h2>
      }

      @if (success()) {
        <div class="alert alert-success"><strong>Einstellungen wurden gespeichert!</strong></div>
      }

      <jhi-alert-error></jhi-alert-error>

      @if (settingsForm.value.login) {
        <form name="form" (ngSubmit)="save()" [formGroup]="settingsForm" novalidate>
          <div class="mb-3">
            <label class="form-label" for="firstName">Vorname</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              placeholder="Ihr Vorname"
              formControlName="firstName"
              data-cy="firstname"
            />

            @let firstNameRef = settingsForm.get('firstName')!;
            @if (firstNameRef.invalid && (firstNameRef.dirty || firstNameRef.touched)) {
              <div>
                @if (firstNameRef?.errors?.required) {
                  <small class="form-text text-danger">Ihr Vorname wird benötigt.</small>
                }

                @if (firstNameRef?.errors?.minlength) {
                  <small class="form-text text-danger">Ihr Vorname muss mindestens 1 Zeichen lang sein</small>
                }

                @if (firstNameRef?.errors?.maxlength) {
                  <small class="form-text text-danger">Ihr Vorname darf nicht länger als 50 Zeichen sein</small>
                }
              </div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label" for="lastName">Nachname</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              placeholder="Ihr Nachname"
              formControlName="lastName"
              data-cy="lastname"
            />

            @let lastNameRef = settingsForm.get('lastName')!;
            @if (lastNameRef.invalid && (lastNameRef.dirty || lastNameRef.touched)) {
              <div>
                @if (lastNameRef?.errors?.required) {
                  <small class="form-text text-danger">Ihr Nachname wird benötigt.</small>
                }

                @if (lastNameRef?.errors?.minlength) {
                  <small class="form-text text-danger">Ihr Nachname muss mindestens 1 Zeichen lang sein</small>
                }

                @if (lastNameRef?.errors?.maxlength) {
                  <small class="form-text text-danger">Ihr Nachname darf nicht länger als 50 Zeichen sein</small>
                }
              </div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label" for="email">Email Adresse</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Ihre Email Adresse"
              formControlName="email"
              data-cy="email"
            />

            @let emailRef = settingsForm.get('email')!;
            @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
              <div>
                @if (emailRef?.errors?.required) {
                  <small class="form-text text-danger">Ihre Email Adresse wird benötigt.</small>
                }

                @if (emailRef?.errors?.email) {
                  <small class="form-text text-danger">Ihre Email Adresse ist ungültig.</small>
                }

                @if (emailRef?.errors?.minlength) {
                  <small class="form-text text-danger">Ihre Email Adresse muss mindestens 5 Zeichen lang sein</small>
                }

                @if (emailRef?.errors?.maxlength) {
                  <small class="form-text text-danger">Ihre Email Adresse darf nicht länger als 50 Zeichen sein</small>
                }
              </div>
            }
          </div>

          <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" data-cy="submit">Speichern</button>
        </form>
      }
    </div>
  </div>
</div>
